.suggestions{
    position: absolute;
    top: 37px;
    background-color: white;
    width: 90%;
    z-index: 999;
    box-shadow: 10px 10px 8px #888888;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

li.sugestions-item.list-group-item:hover{
    background-color: #39f;
    color: white;
}